*{
    margin: 0;
    padding: 0;
    font-family: 'MuseoModerno', cursive;
    box-sizing: border-box;
}

#pagepiling .section{
    text-align: center;
}

#pagepiling .section h2{
    color: #fff;
    font-size: 10em;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#pagepiling .section.sec1{
    background: url(Images/1.jpg);
    background-size: cover;
}

#pagepiling .section.sec2{
    background: linear-gradient(285.03deg, #3B3A48 4.02%, #06162E 99.72%);
    background-size: cover;
}

#pagepiling .section.sec3{
    background: linear-gradient(285.03deg, #3B3A48 4.02%, #06162E 99.72%);
    background-size: cover;
}

#pagepiling .section.sec4{
    background: url(Images/4.jpg);
    background-size: cover;
}

#pagepiling .section.sec5{
    background: url(Images/5.jpg);
    background-size: cover;
}

#pagepiling .section.sec2 p{
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-family: 'MuseoMonoa', cursive;  
}

body{
    text-align: center;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    height: 100px;
    width: 100%;
    z-index: 12;
    position: fixed; 
}

.logo-text{
    width: 30%;
    float: left;   
    line-height: 100px;
}

.logo-text a{
    text-decoration: none;
    font-size: 30px;
    color: white;
    position: absolute;
    left: 110px;
    top: 8px;
    cursor: default;
}

.logo{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    left: 20px;
    top: 20px;
}


.nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 0;
}

.nav-item{
    list-style: none;
    margin-right: 2rem;
    text-align: center;
}

.nav-item button{
    display: inline;
    vertical-align: middle;
    line-height: 20px;
}

.nav-item1{
    list-style: none;
    margin-right: 2rem;
}

.nav-item1 button{
    background: linear-gradient(57deg, rgba(39,42,71,1) 19%, rgba(39,228,240,1) 100%);
}

.nav-item1 button:hover{
    background: linear-gradient(57deg, rgba(39,228,240,1) 0%, rgba(39,42,71,1) 81%);
    transition: 1s;
}

.nav-item a{
    color: white;
    text-decoration: none;
}

button{
    background: transparent;
    font-size: 25px;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    align-items: center;
    outline: none;
    color: white;
    border-radius: 25px;
}
button:hover{
    background:#EEBD40;
    color: black;
    border-color: black;
    transition: 0.5s;
}

#pagepiling .section.sec2 .sec2-text{
    width: 50%;
    position: absolute;
    top: 130px;
    right: 50px;
}

#pagepiling .section.sec2 .sec2-text h2{
    font-size: 110px;
    text-align: start;
    color: #EEBD40;
    position: absolute;
    left: 10px;
}

#pagepiling .section.sec2 .sec2-text h3{
    font-size: 110px;
    text-align: start;
    color: #EEBD40;
    position: absolute;
    top: 130px;
    left: 10px;
}

#pagepiling .section.sec2 .sec2-text p{
    position: absolute;
    color: white;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    text-align: start;
    top: 330px;
    left: 10px;
}

#pagepiling .section.sec2 .sec2-text a{
    position: absolute;
    text-align: start;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: #EEBD40;
    top: 450px;
    left: 10px;
    font-size: 30px
}

#pagepiling .section.sec1 button{
    position: absolute;
    font-size: 40px;
    right: 15px;
    top: 650px;
    transition: 0.5s;
}

#pagepiling .section.sec2 #button2{
    position: absolute;
    font-size: 40px;
    right: 40px;
    top: 530px;
    transition: 0.5s;
}

#pagepiling .section.sec2 #button3{
    position: absolute;
    font-size: 40px;
    right: -40px;
    top: 530px;
    transition: 0.5s;
} 

#pagepiling .section.sec3 #button4{
    position: absolute;
    font-size: 40px;
    right: 90px;
    top: 670px;
    transition: 0.5s;
}

#pagepiling .section.sec3 #button5{
    position: absolute;
    font-size: 40px;
    right: 10px;
    top: 670px;
    transition: 0.5s;
}

#pagepiling .section.sec4 #button6{
    position: absolute;
    font-size: 40px;
    right: 90px;
    top: 670px;
    transition: 0.5s;
}

#pagepiling .section.sec4 #button7{
    position: absolute;
    font-size: 40px;
    right: 10px;
    top: 670px;
    transition: 0.5s;
}

#pagepiling .section.sec5 #button8{
    position: absolute;
    font-size: 40px;
    right: 20px;
    top: 670px;
    transition: 0.5s;
}

#pagepiling .section.sec3 .sec3-text h2{
    font-size: 150px;
    text-align: start;
    color: #EEBD40;
    position: absolute;
    left: 50px;
    top: 150px;
}

#pagepiling .section.sec3 .sec3-text a{
    position: absolute;
    text-align: start;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: #EEBD40;
    top: 550px;
    left: 50px;
    font-size: 45px
}

#pagepiling .section.sec3 .sec3-text .text1{
    position: absolute;
    text-align: start;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    top: 390px;
    left: 50px;
    font-size: 35px
}

#pagepiling .section.sec3 .sec3-text .text2{
    position: absolute;
    text-align: start;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    top: 450px;
    left: 50px;
    font-size: 35px
}

